*{margin: 0;padding: 0;}
body{min-height: 700px;overflow-x: hidden;}
.header{
	height: 100px;
	width: 100%;
	background-color: #fff;
}
.header_left{
	position: relative;
	left: 153px;
	width: 30%;
	float: left;
}
.header_right{float: right;overflow: hidden;}
.header_right ul{
	width: 320px;
	height: 100px;
	margin-right: 50px;
}
.header_right ul li {
	font-size: 15px;
	font-family: "微软雅黑"；
	color: #7d7d7d;
	float: right;
	width: 80px;
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	list-style-type: none;
	float: left;
}
.login{
	background: rgba(0, 0, 0, 0) url("login.png") no-repeat scroll 0 0;
    height: 362px;
    left: 50%;
    margin-left: -180px;
    margin-top: -181px;
    position: absolute;
    top: 50%;
    width: 360px;

}
.main{
	width: 100%;
	height: 2220px;
	background-color: #fff;
	font-size: 20px;
    font-weight: bold;
}
.main_second{
	margin: 0 auto;
	padding-top: 50px;
	width: 1000px;
	text-align: center;
	color: #7d7d7d;
	font-size: 20px;
	font-weight: bold;
}
.main_second img{
	width: 100px;
	height: 100px;
}
.weibo{
	width: 33.3%;
	float: left;
}
.weixin{
	width: 33.3%;
	float: left;
}
.QQ{
	width: 33.3%;
	float: left;	
}
.des{
	padding-top: 20px;
}
.main_third{
	 clear: both;
    color: #e19796;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}
.kongbai{
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
.main_fourth{
	margin: 0 auto;
	width: 1000px;
}
.main_fourth .ico{
	padding: 10px;
	text-align: center;
	float: left;
}
.main_fourth .ico img{
	height: 260px;
    width: 310px;
}
.des2{
	color: #7c7d7f;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.des3{
	color: #bdbdbc;
    padding-top: 10px;
    text-align: center;
}
.main_fifth{
	clear: both;
	background-color: #f9f9f9;
	width: 100%;

}
.main_fifth .top{
	font-family: "微软雅黑";
	color: #7d7d7d;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 50px;
    text-align: center;
}
.main_fifth .bottom{
	margin: 0 auto 50px;
	width: 1000px;
	text-align: center;
	overflow: hidden;
}
.main_fifth .ico1{
	width: 480px;
	padding: 5px;
	float: left;
}
.main_fifth .ico1 img{
	height: 480px;
    width: 470px;
}
.des4{
	clear: both;
	padding-top: 20px;
	padding-bottom: 
	color: #7c7d7f;
    font-size: 20px;
    font-weight: bold;
    float: left;
    text-align: left;
}
.kongbai2{
	background-color: #f9f9f9;
	margin: 0 auto;
	width: 100%;
	height: 100px;
}
.guding{
	width: 160px;
	height: 180px;
	position: fixed;
	top: 50%;
	margin-top: -90px;
}
.yiji{
	width: 160px;
	height: auto;
	font-family: "宋体";
	font-size: 15px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background-color: #403B52;
	cursor: pointer;
	border-bottom: 1px solid #FFF;
}
.yiji:hover ul{
	display: block;
}
.yiji ul{
	width: 160px;
	height: auto;
	display: none;
}
.yiji li {
	list-style-type: none;
	width: 160px;
	height: 30px;
	font-family: "宋体";
	font-size: 15px;
	color: #000;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	
}
.yiji ul li{
	width: 160px;
	height: auto;
	font-family: "宋体";
	font-size: 15px;
	color: #333;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px dashed #666;
	position: relative;
}
.yiji ul li:hover .list-3{
	display: block;
}
.yiji ul li .list-3{
	width: 160px;
	height: auto;
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
}
.yiji ul li .list-3Dom {
	list-style-type: none;
	width: 160px;
	height: 30px;
	font-family: "宋体";
	font-size: 15px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background-color: #403B52;
	border-bottom: 1px solid #FFF;
}
.footer{
	clear: both;
	width: 100%;
	height: 100px;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 15px;
	background-color: #292c35;
	text-align: center;
	line-height: 100px;
}