<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01-事件绑定的几种方式及各自的优缺点.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60127699</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02-手写归并排序,各个排序算法时间复杂度分析方法.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.601282</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>03-输入框动态提示词的实现.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128301</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>04-用户注册表单的设计.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128301</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>05-编程题-求任意大数的阶乘.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60127801</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>06-primitive value都有哪些类型.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128403</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>07-编程题2-教师课表.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60127902</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>08-编程题-按斜线打印矩阵.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60127902</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>09-如何清除浮动.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128403</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10-jsonp原理和缺点.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128498</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>11-map和each的区别.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128599</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>12-图片有哪些格式以及各自的优缺点.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128599</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>13-CSS3中BFC的理解和应用.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60127997</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>14-一侧固定宽度,另一侧自适应布局的实现.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128099</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>15-闭包会造成什么影响以及造成这些影响的原因.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128099</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>16-对作用域链和继承的理解.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.601282</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>17-轮播图的实现.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128498</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>18- ==和===区别.md</key>
			<dict>
				<key>lastModification</key>
				<real>504847261.60128701</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504847272.56511497</real>
				<key>lastModification</key>
				<real>504847272.56511497</real>
				<key>version</key>
				<dict>
					<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>01-事件绑定的几种方式及各自的优缺点.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>05-编程题-求任意大数的阶乘.md</string>
		</array>
		<array>
			<string>07-编程题2-教师课表.md</string>
		</array>
		<array>
			<string>08-编程题-按斜线打印矩阵.md</string>
		</array>
		<array>
			<string>13-CSS3中BFC的理解和应用.md</string>
		</array>
		<array>
			<string>14-一侧固定宽度,另一侧自适应布局的实现.md</string>
		</array>
		<array>
			<string>15-闭包会造成什么影响以及造成这些影响的原因.md</string>
		</array>
		<array>
			<string>16-对作用域链和继承的理解.md</string>
		</array>
		<array>
			<string>02-手写归并排序,各个排序算法时间复杂度分析方法.md</string>
		</array>
		<array>
			<string>03-输入框动态提示词的实现.md</string>
		</array>
		<array>
			<string>04-用户注册表单的设计.md</string>
		</array>
		<array>
			<string>06-primitive value都有哪些类型.md</string>
		</array>
		<array>
			<string>09-如何清除浮动.md</string>
		</array>
		<array>
			<string>10-jsonp原理和缺点.md</string>
		</array>
		<array>
			<string>17-轮播图的实现.md</string>
		</array>
		<array>
			<string>11-map和each的区别.md</string>
		</array>
		<array>
			<string>12-图片有哪些格式以及各自的优缺点.md</string>
		</array>
		<array>
			<string>18- ==和===区别.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>803a647efca074d6bd2698c091c319310e61acbab80f22b8f961a8eb390a4bd4</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
